{% extends "bootstrap/base.html" %}

{% block title %}{{ settings.site.title }}{% endblock %}

{% block content %}
<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="{{ url_for("views.index") }}">{{ settings.site.title }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        {% for label, url, active in nav_links %}
        <li class="nav-item{% if active %} active{% endif %}">
          <a class="nav-link" href="{{ url }}">{{ label }}{% if active %} <span class="sr-only">(current)</span>{% endif %}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>

{% block outer %}
<div class="container py-sm-3">
  {% block container %}
  <div class="row">
    <div class="col">{% block main %}{% endblock %}</div>
  </div>
  {% endblock %}
</div>
{% endblock %}

{% endblock %}
