{% extends "base.html" %}

{% block title %}Dashboard - {{ super() }}{% endblock %}

{% macro vitals(talk) %}
{% set other_speakers = talk.speakers|remove(user)|map(attribute="fullname")|list %}
{% if other_speakers|length > 1 %}
({{ talk.length }} Minutes, {{ other_speakers|join(", ") }}, and You)
{% elif other_speakers|length == 1 %}
({{ talk.length }} Minutes, {{ other_speakers|join("") }} and You)
{% else %}
({{ talk.length }} Minutes)
{% endif %}
{% endmacro %}

{% block container %}
<div class="row py-3">
  <div class="col">
    <h3>Talks:</h3>
  </div>
</div>
{% for talk in talks %}
  <div class="row py-2 border-top border-right border-left{% if loop.last %} border-bottom{% endif %}">
    <div class="col-md-9 talk">
      <a href="{{ url_for("views.edit_talk", talk_id=talk.talk_id) }}">{{ talk.title|truncate(100) }}</a>
      {{ vitals(talk) }}
    </div>
    <div class="col-md-3 text-right">Updated {{ talk.updated|timesince }}</div>
  </div>
{% endfor %}
<div class="row py-2">
  <div class="col text-right">
    <a class="btn btn-primary" href="{{ url_for("views.create_talk") }}">Add Talk</a>
  </div>
</div>
{% endblock %}
