{% extends "base.html" %}

{% block title %}Login - {{ super() }}{% endblock %}

{% block morestyles %}
<style type="text/css">
  a.card-link:hover, a.card-link:active {
    text-decoration: none;
  }
</style>
{% endblock %}

{% block container %}
<div class="row py-3">
  <div class="col">
    <h3>Log in with:</h3>
  </div>
</div>
<div class="row py-1">
  {% for auth in auth_methods %}
  <div class="col-md-4">
    <div class="card">
      <a href="{{ auth.url() }}" class="card-link text-body">
        <div class="card-body text-center">
          <img class="img-fluid" src="{{ url_for("static", filename="social/" +  auth.name + ".png") }}" alt="{{ auth.display_name }} logo">
          <h5 class="py-2">{{ auth.display_name }}</h5>
          <button class="btn btn-primary">Log In</button>
        </div>
      </a>
    </div>
  </div>
  {% if loop.cycle(False, False, True) and not loop.last -%}
  </div><div class="row py-1">
  {%- endif %}
  {% endfor %}
</div>
{% endblock %}
