{% extends "bootstrap/base.html" %}
{% import "bootstrap/utils.html" as utils %}

{% block title %}Login{% endblock %}

{% block content %}
<p>You can log in with:

<ul>
  {% if settings.social_auth.github %}<li><a href="{{ url_for("social.auth", backend="github") }}">GitHub</a></li>{% endif %}
  {% if settings.social_auth.google %}<li><a href="{{ url_for("social.auth", backend="google-oauth2") }}">Google</a></li>{% endif %}
  {% if settings.social_auth.none %}<li>No social authentication configured :-(</li>{% endif %}
</ul>
</p>
{% endblock %}
