{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block title %}User Profile - {{ super() }}{% endblock %}

{% block morestyles %}
{{ super() }}
<style type="text/css">
  textarea {
    min-height: 8rem;
  }
</style>
{% endblock %}


{% block container %}
<form method="post">
  {% if form.errors %}
  {{ form.errors }}
  {% endif %}
  <div class="form-group">
    <label for="{{ form.fullname.id }}">Display Name</label>
    {{ macros.render_error(form.fullname) }}
    {{ macros.render_field(form.fullname) }}
    <small class="form-text" id="{{ form.fullname.id }}-help">This will be printed in the program if your talk is accepted</small>
  </div>
  <div class="form-group">
    <label for="email">Email Address</label>
    <input type="text" class="form-control" id="email" disabled value="{{ user.email }}" aria-describedby="email-help">
    <small class="form-text" id="email-help">Your email address cannot be changed, since it is derived from your login method</small>
  </div>
  <div class="form-group">
    <label for="email">Twitter Username</label>
    {{ macros.render_error(form.twitter_username) }}
    {{ macros.render_field(form.twitter_username) }}
    <small class="form-text" id="twitter_username-help">
      If you are submitting a talk to {{ g.conference.informal_name }}, please provide
      your Twitter username for inclusion in the conference program.
    </small>
  </div>
  <div class="form-group">
    <label for="email">Speaker Bio</label>
    {{ macros.render_error(form.speaker_bio) }}
    {{ macros.render_field(form.speaker_bio) }}
    <small class="form-text" id="speaker_bio-help">
      If you are submitting a talk to {{ g.conference.informal_name }}, please provide a
      brief speaker biography for inclusion in the conference program. This field will not
      be visible to reviewers during talk selection. Supports
      <a href="https://daringfireball.net/projects/markdown/syntax">Markdown</a>.
    </small>
  </div>
  <button type="submit" class="btn btn-primary">Save Profile</button>
  {{ form.csrf_token }}
</form>
<p class="my-4">If you are submitting a talk to {{ g.conference.informal_name }}, you may want
to fill out our <a href="{{ url_for("views.demographic_survey") }}">speaker demographic
survey</a>.</p>
{% endblock %}
